.punctuation.support,
.punctuation.terminator cursor {
  content: url(/assets/icons/check.svg);
  cursor: pointer;
  foreground: #777;

  ::ng-deep content .fdsfsdf {
    &:after {
      content: attr(data) ': ';
    }
  }
}

a {
  content: url(/assets/icons/check.svg);

  @media (min-width: 20px) {
    /deep/ content {
      cursor: pointer;
    }
  }
}
