<?php
/**
 * Template for {{fileBasenameNoExtension}}.
 *
 * Description for template.
 *
 * @Date:         {{create_time}}
 * @Last Modified by:   {{last_modified_by}}
 * @Last Modified time: {{last_modified_time}}
 *
 * @package {{workspaceFolderBasename}}
 */