<?php
/**
 * TODO: Add here the name and meaning of this file, {{fileBasenameNoExtension}}.php
 *
 * TODO: Add description here for this file called {{fileBasenameNoExtension}}.
 *
 * @Author:		{{author}}
 * @Date:   		{{create_time}}
 * @Last Modified by:   {{last_modified_by}}
 * @Last Modified time: {{last_modified_time}}
 *
 * @package {{workspaceFolderBasename}}
 * @link https://developer.wordpress.org/themes/basics/template-files/#template-partials
 */


